.food_body {
    width: 1200px;
    margin: 0 auto;
    background-color: #EBECE4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.food_content {
    /* margin: 20px auto 0px; */
    width: 45%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px #B0C4DE;
    padding: 15px;
    margin: 10px;
}

/* search food block */

.dropdown_container {
  padding: 10px;
}
.list_foods {
  display: block;
  overflow-y: auto;
  width: 100%;
  height: 500px;
}
.element_food {
  padding: 5px 0px 5px 15px;
  margin: 5px 2px;
  
  border: 1px solid #E3E3E3;
  border-radius: 7px;
}
.element_food:hover {
  background-color: #E3E3E3;
  cursor: pointer;
}
.search_input{
  position: relative;
}
.search_input_icons {
  position: absolute;
  margin: 12px;
}
.search_input_spinner {
  position: absolute;
  right: 10px;
  top: 13px
}


@media screen and (max-width: 1300px) {
  .food_body {
    width: 100%;
  }
}
/* @media screen and (min-width: 600px) and (max-width: 900px) {
    .food_body {
      width: 100%;
    }
    .food_content {
      width: 100%;
    }
  } */

 @media screen and (max-width: 900px) {
    .food_body {
      width: 100%;
    }
    .food_content {
      width: 90%;
      flex-direction: column;
    }
    .food_section {
      width: 100%;
    }
}