
.navbar_user_home ul{
    list-style-type: none;
    display: flex;
    background-color: #228B22;
    justify-content: center;
    margin-bottom: 0px;
}
.navbar_user_home a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 12px 27px;
    text-align: center;
    font-weight: 500;
    font-family: Arapey;
}
.navbar_user_home a:hover {
    background-color: #006400;
}
.navbar_user_home a:focus {
    background-color: #006400;
}

