.daily_nutrition_body {
    width: 1200px;
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    background-color: #EBECE4;
}

.daily_nutrition_content {
    margin: 20px auto 0px;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 0 0 8px #B0C4DE;
    padding: 20px;
}
.section1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calories_bar {
    width: 70%;
    color: #228B22;
}
.section2 {
    height: 40%;
    width: 40%;
}

.macros_nutritions h6 {
    margin: 5px 11px 5px 11px;
}
.nutritional_values {
    margin: 5px;
    width: 20%;
    font-weight: 600;
    /* width: 100%; */
}
.nutritional_values_bar {
    width: 48%;
    height: 50px;
    padding: 20px 10px;
}
.nutritional_values_value {
    width: 48%;
}
.nutritional_values_range {
    margin: 5px;
    width: 20%;
    font-weight: bold;
    margin: 3px; 
    font-size: 12px;
    color: gray;
    width: 100%;
}

.nutritional_values_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* For screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .daily_nutrition_body {
      width: 90%;
    }
    .section1 {
        width: 50%;
        margin: 0 auto;
    }
    .nutritional_values_bar {
        height: 50px;
        padding: 15px 5px;
    }
  }
@media screen and (max-width: 1300px) {
    .daily_nutrition_body {
      width: 100%;
    }
}
 @media screen and (max-width: 600px) {
    .daily_nutrition_body {
      width: 100%;
    }
    .daily_nutrition_content {
        display: flex;
        flex-direction: column; 
    }
    .nutritional_values_bar {
        width: 100%;
        height: 20px;
        padding: 5px 5px;
    }
    .nutritional_values_value {
        width: 100%;
    }
    .section1 {
        width: 70%;
        margin: 0 auto;
    }
    .section1 h1 {
        font-size: 30px;
    }
    .section2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .macros_nutritions {
        width: 30%;
    }
    .nutritional_values_block {
        display: flex;
        flex-direction: column;
    }   
  }
  @media screen and (max-width: 400px) {
    .section1 h1 {
        font-size: 20px;
    }
  }