/* daily nutrition style */

.daily_nutrition_body {
    width: 1200px;
    margin: 0 auto;
    background-color: #EBECE4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.daily_nutrition_content {
    margin: 20px auto 10px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px #B0C4DE;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.section1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calories_bar {
    width: 70%;
    color: #228B22;
}
.section2 {
    height: 40%;
    width: 40%;
}

.nutritional_title {
    margin: 5px 11px 5px 11px;
    width: 20%;
    font-weight: 600;
}
.nutritional_values {
    margin: 5px;
    width: 20%;
    font-weight: 600;
    /* width: 100%; */
}
.nutritional_values_bar {
    width: 48%;
    height: 50px;
}
.progress_bar {
    margin: 20px 10px;
    height: 14px;
}
.nutritional_values_bar progress {
    width: 100%;
    height: 100%;
}
.nutritional_values_value {
    width: 48%;
}
.nutritional_values_range {
    margin: 5px;
    width: 20%;
    font-weight: bold;
    margin: 3px; 
    font-size: 12px;
    color: gray;
    width: 100%;
}

.nutritional_values_block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
progress::-webkit-progress-value {
    background-color: green; /* Change this color as needed */
}
/* meals style */
.daily_meals {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}
.meals_sections {
    width: 49%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px #B0C4DE;
    padding: 20px;
}

.meals_sections_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meals_sections_1 div {
    width: 50%;
    display: flex;
    align-items: center;
}
.meals_sections_1 div img {
    width: 40%;
    height: 60px;
    margin-right: 10px;
}
.meals_sections_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid  lightgray;
    padding-top: 10px;
}
.meals_sections_2 h6 {
    margin: 0;
}
.button_add {
    border: 2px solid grey;
    background-color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 15px;
    position: relative;
    &:after,
	&:before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
    &:before {
		height: 18px;
		width: 2px;
	}

	&:after {
		height: 2px;
		width: 18px;
	}
    
}
.button_add:hover {
    background-color: rgb(218, 218, 218);
}

/* For screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .daily_nutrition_body {
        width: 90%;
    }
    .section1 {
        width: 50%;
        margin: 0 auto;
    }
    .nutritional_values_bar {
        height: 50px;
        /* padding: 10px 3px; */
    }
    .progress_bar {
        height: 10px;
        margin: 20px 5px;
    }
}
@media screen and (max-width: 1300px) {
    .daily_nutrition_body {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .meals_sections {
        width: 100%;
    }
    .daily_nutrition_body {
        width: 100%;
    }
    .daily_nutrition_content {
        display: flex;
        flex-direction: column; 
    }
    .nutritional_values_bar {
        width: 100%;
        height: 20px;
    }
    .progress_bar {
        height: 8px;
        margin: 6px 3px;
    }
    .nutritional_values_value {
        width: 100%;
    }
    .nutritional_values {
        font-size: 13px;
        margin: 2px;
    }
    .nutritional_title {
        margin: 2px;
        font-size: 13px;
    }
    .nutritional_values_range {
        font-size: 10px;
        font-weight:600;
    }
    .section1 {
        width: 70%;
        margin: 0 auto;
    }
    .section1 h1 {
        font-size: 30px;
    }
    .section2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .macros_nutritions {
        width: 30%;
    }
    .nutritional_values_block {
        display: flex;
        flex-direction: column;
    }   
}
@media screen and (max-width: 400px) {
    .section1 h1 {
        font-size: 20px;
    }
}