.user_info_body {
    width: 1200px;
    margin: 0 auto;
    background-color: #EBECE4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.user_info_content {
    width: 48%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px #B0C4DE;
    padding: 20px;
    margin: 10px;
}

.user_details_table {
    width: 100%;
    margin: 5px;
}
.user_details_table tr {
    height: 50px
}
.icon_table {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: #228B22;
}

.column_2 {
    text-align: right;
    display: flex;
    align-items: center;
    float: right;
}
.column_2 p {
    margin: 10px 20px;
}
.user_details_table tr:not(:first-child)  {
    border-top: 1px  solid #EBECE4;
}
.user_details_table tr:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}