.form_control {
    /* margin-bottom: 30px; */
    width: 400px;
    padding: 10px;
}

.form_register {
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    /* padding: 10px; */
}