.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 100px;
}
.title_navbar {
    color: black;
    font-size: 37px;
    display: flex;
    justify-content: space-around;
    margin-right: 70px;
    padding-top: 3px;
    font-family: Sherif;
    font-weight: bold;
}
.ul_navbar {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    margin: 0;
}

.li_navbar a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    
}

.li_navbar {
    margin: auto 10px;
}

.li_navbar a:hover {
    /* text-decoration: underline #228B22; */
    border-bottom: 2px solid #228B22;

}
